ui = true

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "${NODE_ID}"
}

listener "tcp" {
  address              = "0.0.0.0:8200"
  tls_cert_file        = "/etc/vault.d/tls/vault.crt"
  tls_key_file         = "/etc/vault.d/tls/vault.key"
  tls_client_ca_file   = "/etc/vault.d/tls/ca.crt"
}

{% if platform == 'aws' %}
seal "awskms" {
  region     = "${SEAL_REGION}"
  kms_key_id = "${SEAL_KEY_ID}"
}
{% elif platform == 'azure' %}
seal "azurekeyvault" {
  tenant_id     = "${SEAL_TENANT_ID}"
  client_id     = "${SEAL_CLIENT_ID}"
  client_secret = "${SEAL_CLIENT_SECRET}"
  vault_name    = "${SEAL_VAULT_NAME}"
  key_name      = "${SEAL_KEY_NAME}"
}
{% endif %}

cluster_addr = "https://${PRIVATE_IP}:8201"
api_addr     = "https://${PRIVATE_IP}:8200"

license_path = "/etc/vault.d/vault.license"

